.tabber-wrap ul {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: 99;
}

.tabber-wrap ul li {
  float: left;
}

.tabber-link {
  display: block;
  text-align: center;
  line-height: 16px;
  color: #fff;
  font-size: 16px;
  padding: 6px 0;
}

.tabber-link span {
  display: block;
  margin-bottom: 5px;
}

.tabber-link span img {
  width: 16px;
}

.tabber-active-icon {
  display: none;
}

.active .tabber-icon {
  display: none;
}

.active .tabber-active-icon {
  display: inline-block;
}