.tabber-wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
}

.tabber-wrap ul li {
  float: left;
}

.tabber-link {
  display: block;
  text-align: center;
  line-height: 40px;
  color: #fff;
  background: red;
}

.tabber-link.active {
  color: red;
  background: #fff;
}