.head-title {
  position: relative;
  background: red;
}

.head-back {
  position: absolute;
  left: 15px;
  top: 14px;
  border: 2px solid #fff;
  transform: rotate(45deg);
  border-right: none;
  border-top: none;
  width: 12px;
  height: 12px;
}

.head-text {
  color: #fff;
  text-align: center;
}