.colorPicker-btn {
    display: inline-block;
    border-radius: 5px;
    position: relative;
}

.btn-medium {
    width: 80px;
    height: 40px;
}

.btn-small {
    width: 60px;
    height: 30px;
}

.BlockPicker-wrap {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.2s;
    height: 0;
    overflow: hidden;
}

.BlockPicker-wrap-show {
    height: 230px;
    padding: 15px;
}

.BlockPicker {
    box-shadow: #e5e5e5 3px 5px 5px !important;
}