.dialog-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  font-size: 14px;
}

.dialog {
  width: 80%;
  background: #fff;
  margin: 15vh auto 0;
  padding: 0 10px;
}

.title-text {
  float: left;
  line-height: 40px;
}

.close {
  float: right;
  height: 40px;
  width: 15px;
  background: url('../../assets/img/x.png') no-repeat 100% 50%/100%;
  cursor: pointer;
}

.dialog-foot div {
  float: right;
  padding: 10px 0;
}

.dialog-foot span {
  float: left;
  line-height: 30px;
  width: 60px;
  margin-left: 10px;
  text-align: center;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
}

.dialog-foot span:nth-of-type(1) {
  border: 1px solid #dcdfe6;
}

.dialog-foot span:nth-of-type(2) {
  background: #409eff;
  color: #fff;
}